* {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.navbar {
  width: 350px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.quiz {
  border: yellow 5px solid;
}

.quiz__container {
  border: 10px solid red;
  background-color: white;
}

.current-score {
  border: red solid 10px;
}